<li class="user_posts">
  <%= link_to post.title, user_post_path(id: post.id) %>
  <br>
  <p><%= post.text %></p>
  <h3>
    comments: <%= post.comments_counter == nil ? 0 : post.comments_counter %>,
    Likes: <%= post.likes_counter == nil ? 0 : post.likes_counter %>
  </h3>
</li>
