<li class="user_home">
  <%= gravatar_for user %>
  <div class="content">
    <%= link_to user.name, user_path(user) %>
    <p class="text-left"> <%= user.bio %></p>
    <h2 class="post-counter"> <%= pluralize user.posts_counter, 'Post' %></h2>
  </div>
</li>
