<ul class="users_home">
  <%@users.each do |user| %>
    <li class="user_home">
      <img class="picture" src=<%=user.photo%>>
      <div class="content">
        <h2 class="username"><%=user.name%></h2>
        <h3> number of posts: <%= user.posts_counter == nil ? 0 : user.posts_counter %></h3>
      </div>
    </li>
  <%end%>
</ul>
