<h1>users#index</h1>

<ul>
  <li>User name <span>number of posts</span></li>
  <li>User name <span>number of posts</span></li>
  <li>User name <span>number of posts</span></li>
  <li>User name <span>number of posts</span></li>
</ul>
