<div class="user_show">
  <%= render 'user', user: @user %>
  <h2  class="bio"><span>Bio</span><br/>
    <%=@user.bio%>
  </h2>
  <% @user.posts.each do |post| %>
    <%= render 'post', post: post %>
  <%end%>
</div>
