<div class="user_show">
  <%= render 'user', user: @user %>
  <h2  class="bio"><span>Bio</span><br/>
    <%=@user.bio%>
  </h2>
  <ul>
    <% @user.posts.each do |post| %>
      <%= render 'post', post: post %>
    <%end%>
  </ul>
  <div class="see_all_post">
    <button type="button" class="btn btn-secondary">See all posts</button>
  </div>
</div>
