<div class="user_show">
  <%= render @user %>
  <h2  class="bio"><span>Bio</span><br/>
    <%=@user.bio%>
  </h2>
  <ul>
    <%= render @user.posts %>
  </ul>
  <div class="see_all_post">
    <button type="button" class="btn btn-secondary"><%= link_to "See all posts", user_posts_path(@user.id) %></button>
  </div>
</div>
