<li class="comments_index">
  <%comments.includes(:user).each do |comment| %>
    <div class="comment_spacer">
      <span>Name: <%= comment.user.name %></span>
      <span>Comment: <%= comment.text %></span>
    </div>
    <br>
  <%end%>
</li>
