<div>
  <%= render 'users/user', user: current_user, fron_user_index: true %>
  <ul>
    <% @posts.includes(:user).each do |post| %>
      <%= render 'post', post: post %>
      <%= render 'comment', comments: post.comments %>
    <% end %>
  </ul>
</div>
<div class="see_all_post text-center pagination-link">
  <%== pagy_nav(@pagy) %>
</div>
