<div>
  <%= render 'users/user', user: @post.user %>
  <ul>
    <%@post.user.posts.each do |post| %>
      <%= render 'users/post', post: post %>
      <%= render 'comment', comments: post.comments %>
    <% end %>
  </ul>
  <div class="see_all_post">
    <button type="button" class="btn btn-secondary"><%= link_to "Pagination", user_post_path(id: @post.id) %></button>
  </div>
