<div>
  <%= render 'users/user', user: current_user %>
  <ul>
    <% @posts.includes(:user).each do |post| %>
      <%= render 'post', post: post %>
      <%= render 'comment', comments: post.comments %>
    <% end %>
  </ul>
  <div class="see_all_post">
    <%# <button type="button" class="btn btn-secondary"><%= link_to "Pagination", user_post_path(id: current_user.id)%></button> %>
</div>
</div>
